// Sobreescribir Variables de bootstrap aquí

@import "../bootstrap/scss/bootstrap";

// Añadir nuevos estilos aquí
.container {
    max-width: 792px !important;
}

main {
    min-height: 75vh;
}

img {
    width: 100%;
}